body {
  background: url("/img/bg.jpg") bottom center no-repeat fixed;
  padding-top: 70px;
}

.margin-sm {
  margin: 2.5px;
}

.margin-sm-top {
  margin-top: 2.5px;
}

.margin-sm-bottom {
  margin-bottom: 2.5px;
}

.margin-sm-left {
  margin-left: 2.5px;
}

.margin-sm-right {
  margin-right: 2.5px;
}

.margin-md {
  margin: 5px;
}

.margin-md-top {
  margin-top: 5px;
}

.margin-md-bottom {
  margin-bottom: 5px;
}

.margin-md-left {
  margin-left: 5px;
}

.margin-md-right {
  margin-right: 5px;
}

.margin-lg {
  margin: 10px;
}

.margin-lg-top {
  margin-top: 10px;
}

.margin-lg-bottom {
  margin-bottom: 10px;
}

.margin-lg-left {
  margin-left: 10px;
}

.margin-lg-right {
  margin-right: 10px;
}

.padding-sm {
  padding: 2.5px;
}

.padding-sm-top {
  padding-top: 2.5px;
}

.padding-sm-bottom {
  padding-bottom: 2.5px;
}

.padding-sm-left {
  padding-left: 2.5px;
}

.padding-sm-right {
  padding-right: 2.5px;
}

.padding-md {
  padding: 5px;
}

.padding-md-top {
  padding-top: 5px;
}

.padding-md-bottom {
  padding-bottom: 5px;
}

.padding-md-left {
  padding-left: 5px;
}

.padding-md-right {
  padding-right: 5px;
}

.padding-lg {
  padding: 10px;
}

.padding-lg-top {
  padding-top: 10px;
}

.padding-lg-bottom {
  padding-bottom: 10px;
}

.padding-lg-left {
  padding-left: 10px;
}

.padding-lg-right {
  padding-right: 10px;
}

.attendance-tool {
  margin-top: -25px;
}

.notification-holder li {
  border-bottom: solid 1px #ccc;
}

.notification-title {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.mark-as-read {
  cursor: pointer;
}

.profile-sidebar li {
  background: #c7c7c7;
  border-radius: 3px;
}

.user-icon-16 {
  width: 16px;
}

.user-icon-24 {
  width: 24px;
}

.messages {
  max-height: 600px;
  overflow-x: hidden;
}

.message-bit {
  border-bottom: solid 1px #e9e9e9;
  padding-bottom: 20px;
  padding-top: 10px;
}

.messages::-webkit-scrollbar {
  width: 7px;
}

.messages::-webkit-scrollbar-track {
  -webkit-box-shadow: 0;
  border-radius: 10px;
  background: #f2f2f2;
}

.messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: 0;
  background: #adadad;
}